<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IkamvaYouth"
        tools:targetApi="31">
        <activity
            android:name=".MarksAndFeedback"
            android:exported="false" />
        <activity
            android:name=".TestsAndAssignments"
            android:exported="false" />
        <activity
            android:name=".SubjectHub"
            android:exported="false" />
        <activity
            android:name=".Resources"
            android:exported="false" />
        <activity
            android:name=".Grade"
            android:exported="false" />
        <activity
            android:name=".StudentDashboard"
            android:exported="true">

            <!-- Removed intent-filter -->
        </activity>
        <activity
            android:name=".StudentRegister"
            android:exported="true">

            <!-- Removed intent-filter -->
        </activity>
        <activity
            android:name=".StudentLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfirmationScreen"
            android:exported="true"
            android:theme="@style/Theme.IkamvaYouth" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- Removed intent-filter -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>